<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<section class="text-gray-600 body-font bg-gray-50">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Nos services</h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">Offrez-vous une expérience de coiffure personnalisée et confortable à la maison grâce à nos services de coiffure à domicile professionnels.</p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-red-500 inline-flex"></div>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-red-100 text-red-500 mb-5 flex-shrink-0">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Prise de rendez-vous facile</h2>
          <p class="leading-relaxed text-base">Nous comprenons que le temps est précieux, c'est pourquoi nous avons rendu la prise de rendez-vous facile et rapide. Avec notre système de réservation en ligne simple et efficace, vous pouvez facilement planifier votre rendez-vous en quelques clics, sans avoir à passer des heures à chercher un créneau horaire disponible.</p>
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-red-100 text-red-500 mb-5 flex-shrink-0">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
            <circle cx="6" cy="6" r="3"></circle>
            <circle cx="6" cy="18" r="3"></circle>
            <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Coiffeurs de qualité</h2>
          <p class="leading-relaxed text-base">Nous croyons que la qualité est essentielle pour offrir une expérience de coiffure exceptionnelle. C'est pourquoi nous travaillons avec des coiffeurs professionnels et qualifiés, qui sont passionnés par leur métier et qui ont une solide expérience dans l'industrie de la coiffure. Ils utilisent des techniques de pointe et des produits de qualité supérieure pour vous offrir des résultats qui répondent à vos attentes.</p>

        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-red-100 text-red-500 mb-5 flex-shrink-0">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Clients satisfaits</h2>
          <p class="leading-relaxed text-base">La satisfaction de nos clients est notre priorité absolue. Nous nous engageons à offrir une expérience de coiffure exceptionnelle à chaque rendez-vous, en écoutant attentivement vos besoins et en travaillant avec vous pour créer la coiffure parfaite qui convient à votre style et à votre personnalité. Nous sommes fiers de notre taux élevé de clients satisfaits et nous nous efforçons constamment d'améliorer notre service pour continuer à répondre à leurs attentes élevées.</p>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            </svg>
        </div>
      </div>
    </div>
    <button class="flex mx-auto mt-16 text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">Reserver</button>
  </div>
  <section class="text-gray-600 body-font bg-gray-100">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4 text-center">
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900 " #counter1>2.7K</h2>
          <p class="leading-relaxed">Clients</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900 " #counter2>1.8K</h2>
          <p class="leading-relaxed">Abonnees </p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900 "#counter3>35</h2>
          <p class="leading-relaxed">Coiffeurs</p>
        </div>
        <div class="p-4 sm:w-1/4 w-1/2">
          <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900 " #counter4>4</h2>
          <p class="leading-relaxed">Salons </p>
        </div>
      </div>
    </div>
  </section>
  <!--MAP and Feedback-->
  <div id="home-content">
    <section class="text-gray-600 body-font relative">
      <div class="absolute inset-0 bg-gray-300">
        <iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=%C4%B0zmir+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" style="filter: grayscale(1) contrast(1.2) opacity(0.4);"></iframe>
      </div>
      <div class="container px-5 py-24 mx-auto flex">
        <div class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
          <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Feedback</h2>
          <p class="leading-relaxed mb-5 text-gray-600">Envoyer nous un message si vous avez des questions</p>
          <div class="relative mb-4">
            <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
            <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
          <div class="relative mb-4">
            <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
            <textarea id="message" name="message" class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
          </div>
          <button class="text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg">Envoyer</button>
          <p class="text-xs text-gray-500 mt-3">Aucun tracker ! Nous respectons votre vie privee </p>
        </div>
      </div>
    </section>
  </div>
