<div class="cursor"></div>
<div class="wrapper">
  <div class="project-list">
    <div class="project p-1">
      <div class="project-title"><h1>Quentin</h1></div>
      <div class="project-categ">CTO</div>
      <div class="project-overlay"></div>
    </div>
    <div class="project p-2">
      <div class="project-title"><h1>Ismael</h1></div>
      <div class="project-categ">CEO</div>
      <div class="project-overlay"></div>
    </div>
    <div class="project p-3">
      <div class="project-title"><h1>Winner</h1></div>
      <div class="project-categ">Designer</div>
      <div class="project-overlay"></div>
    </div>
    <div class="project p-4">
      <div class="project-title"><h1>Mr DIOP</h1></div>
      <div class="project-categ">Senoir Dev</div>
      <div class="project-overlay"></div>
    </div>
  </div>
</div>
